/* --- imports --- */
@font-face {
    font-family: "Orbitron";
    src: url("./Orbitron/Orbitron-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Orbitron";
    src: url("./Orbitron/Orbitron-Regular.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra_Petch/ChakraPetch-Regular.ttf");
    font-weight: normal;
    font-style: italic;
}

/* --- tags --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: #fffd;
    background-color: #010101;
}

h1, h2, h3, h4, h5 {
    font-family: 'Orbitron', monospace;
    color: #fff8;
    transition: color 0.2s linear;
}

input[type=number] {
    width: 5rem;
    margin: 0.2rem 0.6rem;
    padding: 0.2rem 0 0.2rem 0.6rem;

    color: #fff;
    font-family: inherit;
    font-size: 1.2rem;
    
    background-color: #0000;
    border: 2px solid #fff8;
    border-radius: 0.6rem;
}

label {
    font-size: 1.2rem;
}

/* --- ids --- */

/* --- classes --- */
.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000;
    z-index: 1;
}

.loading-wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading-wrapper h1 {
    font-size: 5rem;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    padding: 0.8rem;
}

.time-tray {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    z-index: 2;

    padding: 0.3rem 0.5rem 1rem 1.4rem;

    display: flex;
    flex-direction: column;

    background-color: #0008;
    border-radius: 0 0 0 0.6rem;
    border: 2px solid #fff2;
    border-right: none;
    border-top: none;

    transition: background-color 0.2s linear,
                border-color 0.2s linear;
}
.time-tray:hover {
    background-color: #000e;
    border: 2px solid #fff2;
    border-right: none;
    border-top: none;
}


.date {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.timestring {
    margin-top: -0.4rem;
}
.datestring {
    cursor: pointer
}
.datestring:hover h1 {
    color: #ffff;
}


.speed-control {
    display: flex;
    justify-content: right;
}
.speed-control .active {
    background-color: #fffe;
}
.speed-control .active svg path {
    fill: #000d;
}
.speed-control .active:hover {
    background-color: #fffe;
}
.speed-control .active:hover svg path {
    fill: #000d;
}

.speed-option {
    width: min-content;
    display: flex;
    justify-content: center;

    margin: 0.6rem 0.6rem 0 0.6rem; 
    padding: 0.2rem 1rem;

    background-color: #fff2;
    border-radius: 0.4rem;
    cursor: pointer;

    transition: background-color 0.2s ease-out;
}
.speed-option svg {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 -0.3rem;
    pointer-events: none;
}
.speed-option svg path {
    fill: #fff8;
    transition: 0.2s ease-out;
}
.speed-option:hover {
    background-color: #fff4;
}
.speed-option:hover svg path {
    fill: #fffe;
}


.control-tray {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.6rem;
    z-index: 1;

    display: flex;
    flex-direction: column;

    background-color: #fff0;
    border-radius: 0 0.6rem 0 0;
    border: 2px solid #fff2;
    border-left: none;
    border-bottom: none;

    transition: background-color 0.2s linear,
                border-color 0.2s linear;
}
.control-tray:hover {
    background-color: #000e;
}

/* --- css spinner from https://loading.io/css/ --- */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff8;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
